In [1]:
my_interger=10
type(my_interger)

int

In [2]:
my_float=5.5
type(my_float)

float

In [3]:
my_string='Hello World!'
type(my_string)

str

In [6]:
my_bool=True
type(my_bool)

bool

In [8]:
x=5
y=1
print(type(x > y))

<class 'bool'>

In [9]:
salary=1000
print('Ваша годовая зарплата составляет ', salary, ' условных единиц')

Ваша годовая зарплата составляет  1000  условных единиц

In [11]:
salary=1000
print('Ваша годовая зарплата составляет '+ str(salary) + ' условных единиц')

Ваша годовая зарплата составляет 1000 условных единиц

In [12]:
 int('1000')+100

1100

In [14]:
fio='Ivanov'
fio*3

'IvanovIvanovIvanov'

In [22]:
fio.lower()

'ivanov'

In [23]:
fio.upper()

'IVANOV'

In [25]:
fio.replace('Iv','Bar')

'Baranov'

In [26]:
len(fio)

6

In [27]:
'1'+'2'

'12'

In [29]:
# Индексы

My_string='Hello world!'

My_string[2]

'l'

In [30]:
My_string[-4]

'r'

In [31]:
My_string[0:5]

'Hello'

In [32]:
My_string[0:8:2]

'Hlow'

In [33]:
My_string[6:]

'world!'

In [34]:
My_string[:5]

'Hello'

In [36]:
date='2019-08-27Т23:59:00.932'
date[11:13]

'23'

In [37]:
My_string='Hello world!'
Target_string='world'
if(Target_string in My_string):
    print('Find!')

Find!

In [38]:
name='oleg'
lang='python'
t=f"Hello, {name.capitalize()}, i know {lang} a bit"

print(t)
print(type(t))

Hello, Oleg, i know python a bit
<class 'str'>

In [2]:
# СПИСКИ !!!

month_list=['jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec']
income_list=[10, 20, 30]
income_by_months=[['jan', 10], ['feb', 20], ['mar', 30]]

In [42]:
print(type(month_list))
print(type(income_list))
print(type(income_by_months))

<class 'list'>
<class 'list'>
<class 'list'>

In [51]:
# Индексация элементов в списке

print(month_list[0])
print(month_list[-1])
print(income_by_months[-2])

jan
dec
['feb', 20]

In [53]:
# Индексация элементов в списке

print(month_list[0])
print(month_list[-1])
print(income_by_months[-2][1])

jan
dec
20

In [68]:
# Срезы

print(income_by_months[0:1])
print(income_by_months[0:2])
print(income_by_months[0:3])
print(income_by_months[1:1])
print(income_by_months[1:2])
print(income_by_months[1:3])
print(income_by_months[2:3])
print(income_by_months[-3:-2])
print(income_by_months[:2])
print(income_by_months[2:])

[['jan', 10]]
[['jan', 10], ['feb', 20]]
[['jan', 10], ['feb', 20], ['mar', 30]]
[]
[['feb', 20]]
[['feb', 20], ['mar', 30]]
[['mar', 30]]
[['jan', 10]]
[['jan', 10], ['feb', 20]]
[['mar', 30]]

In [72]:
# Изменение значений списков
income_by_months[0:2]=[['jan',10],['feb',20]]
print(income_by_months)

[['jan', 10], ['feb', 20], ['mar', 30]]

In [74]:
# Способ назначения переменных
a,b = [1,2]
print(a, b)

1 2

In [ ]:
# ОПЕРАЦИИ СО СПИСКАМИ

In [75]:
# Удаляем элемент по индексу
del(income_by_months[-1])

In [4]:
# Удаляем элемент по значению
month_list.remove('sep')
month_list

['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'oct', 'nov', 'dec']

In [7]:
print(month_list)

month_list.append('sep')
print(month_list)

['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'oct', 'nov', 'dec']
['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'oct', 'nov', 'dec', 'sep']

In [80]:
# Добавляем элемент в конце списка

income_by_months.append(['dec2',17000])

print(income_by_months)

[['jan', 10], ['feb', 20], ['dec2', 17000], ['dec2', 17000]]

In [11]:
# Добавляем элемент по нужному индексу

income_list.insert(2,111)

print(income_list)

[10, 20, 111, 111, 30]

In [88]:
# Считаем количество вхождений элементов в списке
income_list.count(111)

1

In [16]:
# Узнаем индекс элемента в списке(показывает элемент первого вхождения)
income_list.index(111,0)

2

In [18]:
# Узнаем индекс элемента в списке(показывает элемент второго вхождения)
income_list.index(111,3)

3

In [ ]:
# РАСПАКОВКА СПИСКОВ

In [89]:
# Простейший - не самый эффективный способ
first, second, thirt=[10,20,30]

In [109]:
# Когда число элементов не известно
first, *_= ['первый', 'второй','третий']
first

'первый'

In [108]:
# Отображение переменной из под звездочки
_

['второй', 'третий']

In [104]:
first, *other, last=['первый', 'второй','третий','четвертый']

In [105]:
# Отображение первой и последней переменной из предыдущего скрипта
first, last

('первый', 'четвертый')

In [111]:
# Отображение переменных в середине между первой и последней переменной
other

['второй', 'третий']

In [112]:
income_by_months

[['jan', 10], ['feb', 20], ['dec2', 17000], ['dec2', 17000]]

In [19]:
# Разворачиваем список
month_list.reverse()
month_list

['sep',
 'dec',
 'nov',
 'oct',
 'aug',
 'jul',
 'jun',
 'may',
 'apr',
 'mar',
 'feb',
 'jan']

In [23]:
# Длина списка
len(month_list)

12

In [24]:
# Сумма списка
sum(income_list)

282

In [25]:
# Максимальное значение
max(income_list)

111

In [26]:
# Минимальное значение
min(income_list)

10

In [27]:
# Сортировка по возрастанию
sorted(income_list)

[10, 20, 30, 111, 111]

In [28]:
# Сортировка по возрастанию
sorted(income_list, reverse=True)

[111, 111, 30, 20, 10]

In [ ]:
# ПРИРАВНИВАНИЕ СПИСКА К СПИСКУ

In [29]:
a=1

In [30]:
# При копирование списка необходимо именно использовать команду ниже!!!
import copy

In [31]:
# При копировании списка необходимо именно использовать команду ниже (после команды из предыдущего скрипта)
a=[1,2,3]
b=copy.copy(a)

In [32]:
id(a),id(b)

(4474424192, 4474780992)

In [ ]:
# СПИСКИ И СТРОКИ

In [33]:
queries_string="дает корова молоко, я чемпион, смотреть сериалы онлайн, новости спорта"

In [47]:
# Преобразование из строки в список (например из csv факла)
queries_list=queries_string.split(',')
queries_list

['дает корова молоко',
 ' я чемпион',
 ' смотреть сериалы онлайн',
 ' новости спорта']

In [62]:
# Преобразование из строки в список (например из csv факла)
queries_list2=queries_string.split(' ')
queries_string

'дает корова молоко, я чемпион, смотреть сериалы онлайн, новости спорта'

In [41]:
# Преобразование из строки в список (например из csv факла)
queries_list3=queries_list2.split(',')
queries_list2

AttributeError: 'list' object has no attribute 'split'

In [65]:
queries_list3=queries_list[0].split(' ')
queries_list3

['дает', 'корова', 'молоко']

In [64]:
len(queries_list[0].split(' '))

3

In [66]:
# Преобразование списка в строку
print('\t'.join(['Столбец 1','Столбец 2', 'Столбец3']))

Столбец 1	Столбец 2	Столбец3

In [67]:
# Преобразование списка в строку
print(','.join(['Столбец 1','Столбец 2', 'Столбец3']))

Столбец 1,Столбец 2,Столбец3

In [68]:
# Проверка вхождения элемента в список
'Москва'in['Ленинград', 'Рига', 'Москва']

True

In [69]:
# Проверка вхождения элемента в список
'Москва'not in['Ленинград', 'Рига', 'Москва']

False

In [ ]:
# КОРТЕЖИ (TUPLES) - в круглых скобках

In [74]:
# Определяем тип
salary_tuple=(100,200,300,400,500,600,700,800,900)
type(salary_tuple)

tuple

In [75]:
# Попытка изменить значение - не работает т/к/ кортеж не меняет данные - это константы
salary_tuple[0]=500

TypeError: 'tuple' object does not support item assignment

In [76]:
# Кортеж из одного элемента задается так (с запятой на конце)
t=10,
type(t)

tuple

In [1]:
# Функция zip, функция list отображает сформированный кортеж
salaries=[100,200,300,400,500]
fio=['Ivanov','Petrov','Sidorov','Smirnov','Vasin']
payroll=zip(salaries,fio)
list(payroll)

[(100, 'Ivanov'),
 (200, 'Petrov'),
 (300, 'Sidorov'),
 (400, 'Smirnov'),
 (500, 'Vasin')]

In [89]:
# Отображение результата объединения. Почему-то 2 раза подряд не срабатывает. А срабатывает только вместе c расчетомм payroll
list(payroll)

[]

In [ ]:
# ЦИКЛЫ WHILE И FOR

In [ ]:
# ЦИКЛ WHILE
# Пример цикла while, синтаксис x-=1 соответствует x=x-1
x=5
while x!=0:
    x-=1
    print(x)

In [7]:
# ЦИКЛ WHILE
# Разбор чисел - четные нечетные. Обрати внимание что x=x-1 должно быть на 1 уровень ниже while 
# (иначе скрипт будет работать некорректно)
x=10
while x!=0:
    if x % 2 ==0:
        print(x,' четное число')
    else:
        print(x,' нечетное число')
    x=x-1

10  четное число
9  нечетное число
8  четное число
7  нечетное число
6  четное число
5  нечетное число
4  четное число
3  нечетное число
2  четное число
1  нечетное число

In [8]:
# ЦИКЛ WHILE
# Отладка с BREAK - показывает отработку на одной строке
x=700
while x!=0:
    if x % 2 ==0:
        print(x,' четное число')
        break
    else:
        print(x,' нечетное число')
    x=x-1

700  четное число

In [15]:
# ЦИКЛ FOR
# Итерация по строкам
son_name='Василий Андреич Крысоловкин'
for letter in son_name:
    print(letter)

В
а
с
и
л
и
й

А
н
д
р
е
и
ч

К
р
ы
с
о
л
о
в
к
и
н

In [17]:
# ЦИКЛ FOR 
# Итерация по спискам
companies_capitalization=[
    ['Orange',1.3],
    ['Maxisoft',1.5],
    ['Headbook',0.8],
    ['Nikola',2.2]
]

In [18]:
# ЦИКЛ FOR 
# Итерация по спискам
for company in companies_capitalization:
    print (company[0], 'capitalization is',company[1])

Orange capitalization is 1.3
Maxisoft capitalization is 1.5
Headbook capitalization is 0.8
Nikola capitalization is 2.2

In [19]:
# BREAK PASS CONTINUE
phrase='640 Кб должно хватить для любых задач (по легенде)'

In [20]:
for letter in phrase:
    if letter ==' ':
        break
    print(letter, end='')

640

In [23]:
# Непрерывный список
for letter in phrase:
    if letter ==' ':
        continue
    print(letter)
print('finish loop')

6
4
0
К
б
д
о
л
ж
н
о
х
в
а
т
и
т
ь
д
л
я
л
ю
б
ы
х
з
а
д
а
ч
(
п
о
л
е
г
е
н
д
е
)
finish loop

In [24]:
# Непрерывный список с пробелами
for letter in phrase:
    if letter==' ':
        pass
    print(letter)
print('finish loop')

6
4
0

К
б

д
о
л
ж
н
о

х
в
а
т
и
т
ь

д
л
я

л
ю
б
ы
х

з
а
д
а
ч

(
п
о

л
е
г
е
н
д
е
)
finish loop